<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Groupie Tracker</title>
    <link rel="shortcut icon" href="https://static.vecteezy.com/system/resources/thumbnails/037/753/271/small_2x/music-icon-3d-render-illustration-png.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="/statics/css/artists.css">
    <link rel="stylesheet" href="/statics/css/artist.css">
</head>

<body>
    <div>

        <nav>
            <a href="/"><img src="/statics/assets/Logo.png" alt=""></a>
        </nav>

        <div class="parent">
            {{range .Artists}}
            <!-- Modal -->
            <div class="modal" id="artist{{.Id}}">
                <div class="modal-content">
                    <!-- Close button goes back to page without hash -->
                    <a href="#" class="close-btn"><i class="fa-solid fa-xmark"></i></a>

                    <div class="artist-header">
                        <img src="{{.Image}}" alt="{{.Name}}" class="artist-image">
                        <h2>{{.Name}}</h2>
                    </div>

                    <div class="artist-details">
                        <p><strong>Creation Date:</strong> {{.CreationDate}}</p>
                        <p><strong>First Album:</strong> {{.FirstAlbum}}</p>
                        
                        <div>
                            <strong>Members:</strong>
                            <ul>
                                {{range .Members}}
                                <li>{{.}}</li>
                                {{end}}
                            </ul>
                        </div>
                        
                        <div>
                            <strong>Relations:</strong>
                            <ul>
                                {{range $location, $dates := .Relations}}
                                <li class="relation-location">{{$location}}</li>
                                <ul>
                                    {{range $dates}}
                                        <li>{{.}}</li>
                                    {{end}}
                                </ul>
                                {{end}}
                            </ul>
                        </div>

                        <div>
                            <strong>Locations:</strong>
                            <ul>
                                {{range .Locations}}
                                <li>{{.}}</li>
                                {{end}}
                            </ul>
                        </div>

                        <div>
                            <strong>Dates:</strong>
                            <ul>
                                {{range .Dates}}
                                <li>{{.}}</li>
                                {{end}}
                            </ul>
                        </div>

                    </div>

                    <div class="artist-links">
                        <a href="{{.ArtistURL}}" target="_blank">Artist Page</a> |
                        <a href="{{.RelationsURL}}" target="_blank">Relations</a> |
                        <a href="{{.LocationsURL}}" target="_blank">Locations</a> |
                        <a href="{{.DatesURL}}" target="_blank">Dates</a>
                    </div>
                </div>
            </div>

            <!-- Trigger -->
            <a href="#artist{{.Id}}">
                <div class="artistCard" id="{{.Name}}">
                    <h3 class="date">{{.CreationDate}}</h3>
                    <img src="statics/assets/mockup.png" height="250px" class="mockup" alt="">
                    <img src="{{.Image}}" height="200px" class="imgContent" alt="">
                    <div class="informations">
                        <h3>{{.Name}}</h3>
                    </div>
                </div>
            </a>
            {{end}}
        </div>
    </div>
</body>

</html>