{{define "Layout"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Groupie Tracker | Artists</title>
    <link rel="shortcut icon" href="https://icons.iconarchive.com/icons/dtafalonso/win-10x/512/Music-icon.png" type="image/x-icon">
    <link rel="stylesheet" href="statics/css/style.css">
</head>
<body>
    <!-- navbar -->
    {{template "NavBar" .}}
    <!-- page -->
    {{template "Page" .}}
    <script src="statics/js/script.js"></script>
</body>
</html>
{{end}}